* {
  box-sizing: border-box;
}

.header {
  border: 1px solid red;
  padding: 15px;
  text-align: center;
}
/* For desktop: */
.col-one {
  width: 33%;
  float: left;
  padding: 15px;
  border: 1px solid red;
}

.col-two {
  width: 33%;
  float: left;
  padding: 15px;
  border: 1px solid red;
}

.col-three {
  width: 33%;
  float: left;
  padding: 15px;
  border: 1px solid red;
}
.footer {
  border: 1px solid red;
  padding: 15px;
}


@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }