* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */

body {
  font-size: 16px;
  font-family: "Lucida Console", Monaco, monospace 
  background-color: #d8e9e9; 
}

header, nav, main, footer { 
  max-width: 920px; 
	}

header {	
	background-color: #88ccf1;
	padding: 10px;
	}

h1 {
	font-family: Verdana, Geneva, sans-serif
	}
h2{
	background-color:#39F;
}
header img {}
header .subheading {}

nav {}
nav button {}
nav ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;}
nav ul li {
	float: left
	}
nav ul li a { 
	display: block;
    color: black;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
	backgroun-color:#88ccf1
	}
nav ul li.active a {
	background-color: #c1dff0;
	}
nav ul li a:hover {
	background-color: #3587a4;
		}
@media only screen and (max-width: 37.5em){
	.forecast{
		display: none;
	}
	nav ul{
		alignment-adjust: middle;
	}
	nav ul li{
		float: none;
	}
}
main {}
main h2 {}
main figure { margin: 0 0 .2rem 2%; width:96%; }
main figure img { }

footer {}